.idea/
composer.phar
vendor/ocramius/package-versions/src/PackageVersions/Versions.php
vendor/autoload.php
vendor/composer/autoload_real.php

###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
###< symfony/framework-bundle ###
