{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="display-3">About the Villa at The Bay</h1>

                <p class="lead">Situated in Deception Bay in the Queensland region, The Villa at The Bay is a villa
                    featuring a patio
                    and garden views.</p>
                <p>The accommodation is 33 km from Brisbane, and guests benefit from complimentary
                    WiFi and private parking available on site.</p>
                <p>The villa is equipped with 1 separate bedroom and includes a kitchen with an oven and a dining area.
                    The villa also offers a flat-screen TV, a seating area, and a bathroom with a shower.</p>
                <p>Margate is 13 km from The Villa at The Bay, while Caloundra is 43 km from the property. Brisbane
                    Airport is 26 km away.</p>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div id="carouselVillaIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselVillaIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="2"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="3"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="4"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="5"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="6"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="7"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="8"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="9"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="10"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="11"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="12"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="13"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="14"></li>
                        <li data-target="#carouselVillaIndicators" data-slide-to="15"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-5-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-1-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-1-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-1-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-1-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-2-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-2-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-2-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-2-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-3-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-3-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-3-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-3-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-4-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-4-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-4-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bedroom-4-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bathroom-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bathroom-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bathroom-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--bathroom-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-1-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-1-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-1-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-1-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-2-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-2-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-2-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--dining-area-2-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--entrance-door-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--entrance-door-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--entrance-door-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--entrance-door-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--external-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--external-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--external-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--external-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-1-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-1-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-1-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-1-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-2-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-2-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-2-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-2-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-3-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-3-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen3-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--kitchen-3-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-1-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-1-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-1-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-1-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-2-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-2-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-2-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-2-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <picture>
                                <source media="(min-width: 1200px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-3-xl.jpg">
                                <source media="(min-width: 992px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-3-lg.jpg">
                                <source media="(min-width: 768px)" srcset="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-3-md.jpg">
                                <img class="d-block w-100" src="https://d3orc742w48r4f.cloudfront.net/images/carousel/villa--living-room-3-sm.jpg" alt="First slide">
                            </picture>
                            <div class="carousel-caption d-none d-md-block">
                                <h3>...</h3>
                                <p>...</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselVillaIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselVillaIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-12">
                <h2 class="display-2">Villa Amenities</h2>
                <ul class="list-group-flush ">
                    <li class="list-group-item">Free resident car parking</li>
                    <li class="list-group-item">Fully Self contained</li>
                    <li class="list-group-item">Free WI-FI access</li>
                    <li class="list-group-item">24 hour check-in available</li>
                    <li class="list-group-item">Business services</li>
                    <li class="list-group-item">Flat screen TV</li>
                    <li class="list-group-item">Laundry facilities</li>
                    <li class="list-group-item">DVD player</li>
                    <li class="list-group-item">Tea &amp; coffee making facilities</li>
                    <li class="list-group-item">Iron & ironing board</li>
                </ul>
            </div>
        </div>

    </div>

{% endblock %}

{%  block javascripts %}
<script type="text/javascript">
    <!--

        //-->
</script>
{% endblock %}
