{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-3 text-center text-info">The Villa at The Bay</h1>
            <h3 class="display-5 text-center text-white">LIFE AS IT SHOULD BE</h3>
        </div>
    </div>
    <div class="jumbotron">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

    </div>
</div>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
    body {
        background: url('https://d3orc742w48r4f.cloudfront.net/images/accessories-beach-blue-feminine-sm.jpg') no-repeat center 75% fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        -o-background-size: cover;
    }

    @media (min-width: 768px) {
        body {
            background-image: url('https://d3orc742w48r4f.cloudfront.net/images/accessories-beach-blue-feminine-md.jpg');
        }
    }

    @media (min-width: 992px) {
        body {
            background-image: url('https://d3orc742w48r4f.cloudfront.net/images/accessories-beach-blue-feminine-lg.jpg');
        }
    }

    @media (min-width: 1200px) {
        body {
            background-image: url('https://d3orc742w48r4f.cloudfront.net/images/accessories-beach-blue-feminine.jpg');
        }
    }

</style>
{% endblock %}
