{% extends 'admin.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="display-3">Create new carousel</h1>
            <p class="lead">You'll be able to add the images on the next page</p>
            <div class="jumbotron">
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_row(form.slug) }}
                {% if form.slug.vars.attr.description is defined %}
                    <p class="text-muted">{{ form.slug.vars.attr.description }}</p>
                {% endif %}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
