{% extends 'admin.html.twig' %}
{% form_theme form with ['bootstrap_4_layout.html.twig'] %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1 class="display-3">Create Configuration Entry</h1>

                <div class="jumbotron">
                    {{ form_start(form, {'attr': {'novalidate': 'novalidate'} }) }}

                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
