<div class="background_image" data-counter="{{ index }}">
    <div class="form-group">
        {{ form_label(form.background_image[counter]) }}
        {{ form_widget(form.background_image[counter]) }}
    </div>
</div>
