<div class="form" data-counter="{{ index }}">
    <div class="form-group">
        {{ form_label(form.form[counter]) }}
        {{ form_widget(form.form[counter]) }}
        {{ form_errors(form.form[counter]) }}
    </div>
</div>
