<div class="text_leading" data-counter="{{ index }}">
    <div class="form-group">
        {{ form_label(form.text_leading[counter]) }}
        {{ form_widget(form.text_leading[counter]) }}
    </div>
    <div class="invisible card card-body" id="js--text_leading_preview"></div>
</div>
